<head>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

</head>
<br>
<div class="container">
    <div style=" padding-left: 165px;">
<table style="font-size: 12px;" class="table table-bordered table-striped table-hover table-sm text-center">
    <thead>
    <tr style="background-color: #4b4276;" class="text-white">
        <th style="text-align:center;">ID</th>
        <th style="text-align:center;">NAME</th>
        <th style="text-align:center;">GENDER</th>
        <th style="text-align:center;">SUBJECT</th>
        <th style="text-align:center;">MOBILENUMBER</th>
        <th style="text-align:center;">EMAILID</th>
        <th style="text-align:center;">ADDRESS</th>
        <th style="text-align:center;">DELETE</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor='let fac of faculty'>
        <td>{{fac.facultyId}}</td>
        <td>{{fac.facultyName | titlecase}}</td>
        <td>{{fac.gender | uppercase}}</td>
        <td>{{fac.subject}}</td>
        <td>{{fac.mobileNumber}}</td>
        <td>{{fac.emailId}}</td>
        <td>{{fac.address}}</td>

        <td><button (click)="deleteFaculty(fac)" class="glyphicon glyphicon-trash"></button></td>
    </tr>
    </tbody>
</table>
</div>
</div>

