<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Side Navigation Bar</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>

<div class="wrapper">
    <div class="sidebar">
        <h2>ADMIN</h2>
        <ul>
            <li><a routerLink="viewallfaculty"><i class="glyphicon glyphicon-th-list"></i> View All Faculty</a></li>
            <li><a routerLink="viewfacultybyid"><i class="glyphicon glyphicon-user"></i> View Faculty By Id</a></li>
            <li><a routerLink="viewallstudents"><i class="glyphicon glyphicon-th"></i> View All Students</a></li>
            <li><a routerLink="viewstudentbyid"><i class="glyphicon glyphicon-user"></i> View Student By Id</a></li>
            <li><a routerLink="deletefaculty"><i class="glyphicon glyphicon-trash"></i> Delete Faculty</a></li>
            <li><a routerLink="deletestudent"><i class="glyphicon glyphicon-trash"></i> Delete Student</a></li>
            <li><a routerLink=""><i class="glyphicon glyphicon-off"></i> Logout</a></li>
        </ul>
    </div>
    <div class="main_content">
        <div class="header">Welcome!! Have a nice day.</div>  
        <div class="info">
        </div>
    </div>
</div>

</body>
</html>
<router-outlet></router-outlet>