<img class="center" width="80%" height=" 50%" src="assets/images/learnovate.png"><br/><br/><br/>
<h5 align="center">LEARNOVATE is an online student task management system made to facilitate learning and provide a platform for better communication between trainers and learners.<br/> Trainers can assign tasks to the students and review their submissions while students can post their queries regarding the tasks and get them clarified by their trainers.<br/> It also helps administrate trainers and learners all at one place!
</h5>
