img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 150px;
  }
  
 .center {
    margin: 0;
    position: absolute;
    top: 92%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  