<!-- <fieldset>
    <legend>Login</legend>
Enter login Id: <input type="text" [(ngModel)]="user.loginId"><br/>
Enter password: <input type="password" [(ngModel)]="user.password"><br/>
<button (click)="loginForm()">Login</button>
</fieldset> -->

<head>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

</head>
<body>
    
<div style="padding-top: 120px; padding-left: 350px;" class="container"><br />
    <h2 style="padding-left: 100px; color: white;" align="left">ADMIN LOGIN</h2>
<form #loginForm="ngForm" class="form-group" (ngSubmit)="validateUser(loginForm.value)" novalidate>
     <div class="form-group w-50">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input type="text" class="form-control" name="loginId" ngModel #loginId="ngModel" required minlength="4" maxlength="10" placeholder="login id"><br/>
    </div>
    </div><br/>

    <div class="form-group w-50">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input type="password" class="form-control" name="password" ngModel #password="ngModel" required minlength="4" maxlength="10" placeholder="password"><br/>
    </div>
    </div><br/>
    <button class="btn btn-primary" [disabled]="!loginForm.valid" (click)="loginUser()">Login</button>
</form>

<div class="text-danger">
    <div *ngIf="loginForm.touched && loginId.errors?.required">Please enter login id</div>
    <div *ngIf="loginForm.touched && password.errors?.required">Please enter password</div>
    <div *ngIf="loginForm.touched && loginId.errors?.minlength">Please enter 4 chars</div>
    <div *ngIf="loginForm.touched && password.errors?.minlength">Please enter 4 chars</div>
</div>

</div>
</body>
