<div style=" padding-left: 400px;">
<div class="container">
    <div class = "row">
    <div class="col s8 offset-2">
    <div class="card-panel teal lighten-2">
    <h4 class="center white-text"></h4>
    </div>
    <form #imageForm=ngForm (ngSubmit)="OnSubmit(imageForm.value)">
    <div class="col">
    <div class="input-field col s12">
    <!-- <input type="text" #taskId ngModel name="taskId" id="taskId" required> -->

    <select type="text" #taskId ngModel name="taskId" style="width:25%;">
        <option *ngFor='let task of tasks' [value]="task.taskId">{{task.description}} [{{task.subject}}]</option>
      </select>

    <label for="taskId">Task</label>
    </div>
    
    <div class="input-field col s12">
    <!-- <input type="text" #subject ngModel name="subject" id="subject" required> -->

    </div>
    </div>

    <img [src]="imageUrl" style="width:200px;height:200px">
    <input type="file" #Image accept="image/*" (change)="handleFileInput($event.target.files)">
    <br>
    <button type="submit" class="btn-large btn-submit" [disabled]="Image.value==''">Submit</button>
    </form>
    </div>
    </div>
    </div>
    </div>