<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="admin">Admin Login<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Faculty Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Student Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="facultyregistration">Faculty Registration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="studentregistration">Student Registration</a>
        </li>
        </ul>
        </div> 
      </nav> -->

        <html>
        <head>
                <title>LEARNOVATE</title>
        </head>
        <body>
                <header>
                        <div class="main">
                                <div class="logo">
                                        <img src = "assets/images/learnovate.png">
                                </div>

                                <ul>
                                        <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Login
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                                  <a style="color: black;" class="demo" class="dropdown-item" routerLink="admin">Admin</a>
                                                  <a style="color: black;" class="dropdown-item" routerLink="facultylogin">Faculty</a>
                                                  <a style="color: black;" class="dropdown-item" routerLink="studentlogin">Student</a>
                                                </div>
                                              </li>
                                    
                                              
                                              <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                  Register
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                                  <a style="color: black;" class="dropdown-item" routerLink="facultyregistration">Faculty</a>
                                                  <a style="color: black;" class="dropdown-item" routerLink="studentregistration">Student</a>
                                                  
                                                </div>
                                              </li>
                                    
                                        <!--<li><a routerLink="admin">Admin Login</a></li>
                                        <li><a routerLink="facultylogin">Faculty Login</a></li>
                                        <li><a routerLink="facultyregistration">Faculty Registration</a></li>
                                        <li><a routerLink="studentlogin">Student Login</a></li>
                                        <li><a routerLink="studentregistration">Student Registration</a></li> -->
                                </ul>

                        </div>
                        <div class = "title">
                                <h1>STUDENT TASK MANAGEMENT SYSTEM</h1>
                        </div>
                        <div class ="button">
                                <a routerLink="aboutus" class="btn">About Us</a>
                                <a routerLink="contactus" class="btn">Contact Us</a>
                        </div>
                </header>
        </body>
</html>


  
